/* themes.css */

/* Theme Variables */

:root{
    --custom-bg-image: none;
}

:root[data-theme="green"] {
    --glass-color: #1e3a3466;
    --border-glass: #325c528d;
    --text-color: #e6f2ee;
    --highlight: rgba(83, 255, 198, 0.679);
    --pulse: rgb(104, 255, 205);
    --accent: #264d44cf;
    --body-gradient: linear-gradient(135deg, #0f2f2a, #073734, #062f27);
    --time-color: #5dfcda;
    --scroll-bg: #162e2986;
    --input-bg: #2a524a5b;
    --input-focus-bg: #366b6077;
    --progress-gradient: linear-gradient(90deg, #00ffc8, #00ff99, #00ffc8);
    --thumb-gradient: radial-gradient(circle at 30% 30%, #b8fff0, #00ffc8 80%);
    --thumb-active-gradient: radial-gradient(circle at 30% 30%, #ffffff, #00ffcc 70%);
    --background-size: 300% 300%;
}

:root[data-theme="moon"] {
    --glass-color: #1a152076;
    --border-glass: #3d2b5283;
    --text-color: #eaddff;
    --highlight: rgba(217, 0, 255, 0.3);
    --pulse: rgb(197, 0, 236);
    --accent: #251b3090;
    --body-gradient: linear-gradient(135deg, #0a0a0a, #1a1a1a, #0f0f0f);
    --time-color: #d333ff;
    --scroll-bg: #1a15208b;
    --input-bg: #251b3066;
    --input-focus-bg: #35264578;
    --progress-gradient: linear-gradient(90deg, #9000ff, #aa00ff, #9900ff);
    --thumb-gradient: radial-gradient(circle at 30% 30%, #a733ff, #a200ff 80%);
    --thumb-active-gradient: radial-gradient(circle at 30% 30%, #ffffff, #d000ff 70%);
    --background-size: 300% 300%;
}

:root[data-theme="light"] {
    --glass-color: rgba(130, 128, 128, 0.7);
    --border-glass: rgba(200, 200, 200, 0.5);
    --text-color: #2a2a2a;
    --highlight: rgba(69, 69, 69, 0.2);
    --pulse: rgb(101, 101, 101);
    --accent: #656565a0;
    --body-gradient: linear-gradient(135deg, #c0bfbf, #bebebe, #a3a3a3);
    --time-color: #414141;
    --scroll-bg: rgba(255, 255, 255, 0.3);
    --input-bg: rgba(255, 255, 255, 0.5);
    --input-focus-bg: rgba(156, 155, 155, 0.7);
    --progress-gradient: linear-gradient(90deg, #535353, #6a6a6a, #393939);
    --thumb-gradient: radial-gradient(circle at 30% 30%, #838383, #484848 80%);
    --thumb-active-gradient: radial-gradient(circle at 30% 30%, #aaaaaa, #4d4d4d 70%);
    --placeholder-color: #2a2a2a;
    --background-size: 300% 300%;
}

:root[data-theme="drakula"] {
    --glass-color: rgba(74, 1, 1, 0.63);
    --border-glass: rgba(82, 4, 4, 0.3);
    --text-color: #f5f6fc;
    --highlight: rgba(223, 3, 3, 0.3);
    --pulse: rgb(183, 5, 5);
    --accent: #1d000048;
    --body-gradient: linear-gradient(135deg, #250c0c, #3e0909, #2e0606);
    --time-color: rgb(251, 134, 134);
    --scroll-bg: rgba(4, 4, 4, 0.184);
    --input-bg: rgba(27, 27, 27, 0.266);
    --input-focus-bg: rgba(0, 0, 0, 0.3);
    --progress-gradient: linear-gradient(90deg, #910303, #d21212, #a10303);
    --thumb-gradient: radial-gradient(circle at 30% 30%, #eea6a6, #be0303 80%);
    --thumb-active-gradient: radial-gradient(circle at 30% 30%, #ffffff, #ff0000 70%);
    --background-size: 300% 300%;
}

:root[data-theme="greentea"] {
    --glass-color: #5b89696a;
    --border-glass: #7ebc8ea3;
    --text-color: #f0fff4;
    --highlight: rgba(255, 255, 255, 0.266);
    --pulse: rgb(178, 217, 162);
    --accent: #517e60bb;
    --body-gradient: linear-gradient(135deg, #092c119d, #094617bc, #062a109f);
    --time-color: #c4e4c4;
    --scroll-bg: #45614e74;
    --input-bg: #40564963;
    --input-focus-bg: #5b776471;
    --progress-gradient: linear-gradient(90deg, #8da98d, #8ab17d, #a3cda4);
    --thumb-gradient: radial-gradient(circle at 30% 30%, #f1f1f1, #9e9e9e 80%);
    --thumb-active-gradient: radial-gradient(circle at 30% 30%, #ffffff, #a9a9a9 70%);
    --background-size: 300% 300%;
}

:root[data-theme="dark"] {
    --glass-color: rgba(20, 20, 20, 0.35);
    --border-glass: rgba(80, 80, 80, 0.4);
    --text-color: #e0e0e0;
    --highlight: rgba(116, 116, 116, 0.3);
    --pulse: rgb(75, 75, 75);
    --accent: #4b4b4ba0;
    --body-gradient: linear-gradient(135deg, #0a0a0a, #1a1a1a, #0f0f0f);
    --time-color: #a2a2a2;
    --scroll-bg: rgba(50, 50, 50, 0.3);
    --input-bg: rgba(30, 30, 30, 0.3);
    --input-focus-bg: rgba(50, 50, 50, 0.5);
    --progress-gradient: linear-gradient(90deg, #4f4f4f, #626262, #525252);
    --thumb-gradient: radial-gradient(circle at 30% 30%, #d0d0d0, #262626 80%);
    --thumb-active-gradient: radial-gradient(circle at 30% 30%, #9a9a9a, #3e3e3e 70%);
    --background-size: 300% 300%;
}

:root[data-theme="custom"] {
    --glass-color: rgba(255, 255, 255, 0.173);
    --border-glass: rgba(255, 255, 255, 0.222);
    --text-color: #f5f6fc;
    --highlight: rgba(255, 255, 255, 0.266);
    --pulse: rgb(200, 200, 200);
    --accent: #c5c5c555;
    --body-gradient:
        linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
        var(--custom-bg-image);
    --time-color: #d9d9d9;
    --scroll-bg: rgba(255, 255, 255, 0.1);
    --input-bg: rgba(255, 255, 255, 0.2);
    --input-focus-bg: rgba(255, 255, 255, 0.3);
    --progress-gradient: linear-gradient(90deg, #c3c3c3, #9d9d9d, #c2c2c2);
    --thumb-gradient: radial-gradient(circle at 30% 30%, #f1f1f1, #9e9e9e 80%);
    --thumb-active-gradient: radial-gradient(circle at 30% 30%, #ffffff, #a9a9a9 70%);
    --background-size: 100% 120%;
}

/* Animations */

:root[data-animation-screen="true"] {
  --animation-screen: bgFlow 25s ease infinite;
}

:root[data-animation-screen="false"] {
  --animation-screen: none;
}

:root[data-animation-pulse="true"] {
  --animation-pulse: glowPulse 2s infinite ease-in-out;
}

:root[data-animation-pulse="false"] {
  --animation-pulse: none;
}

:root[data-animation-cover="true"] {
  --animation-cover: rotateCover 10s linear infinite;
}

:root[data-animation-cover="false"] {
  --animation-cover: none;
}

:root[data-cover="circle"] {
    --border-radius: 100rem;
}

:root[data-cover="rounded"] {
    --border-radius: 1.5rem;
}